.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    grid-gap: 10px;
}

h3 {
    line-height:0.5pc
}

.image {
    object-fit: cover;
}

.button {
    padding: 10px 30px;
}

.left {
    float: left;
}

.box1 {
    text-align: center;
}

.box2 {
    text-align: center;
}

.box3 {
    text-align: center;
}

.box4 {
    text-align: center;
}

.box5 {
    text-align: center;
}

.box6 {
    text-align: center;
}