<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8" />
  <title>ポーズ図鑑</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='dictionary.css') }}">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript">
  </script>
  </head>
<body>
    <form action="/home" method="POST">
    <button type="submit">戻る</button>
    <h1>ポーズ図鑑</h1>
    <table>
    <tr>
      <td><a href="{{url_for('static', filename='3.jpg') }}" data-lightbox="group"><img src="{{ url_for('static', filename='3.jpg') }}" alt="" class="img" ></a>
      </td>
      <td><a href="{{url_for('static', filename='4-1.jpg') }}" data-lightbox="group"><img src="{{ url_for('static', filename='4-1.jpg') }}" alt="" class="img"></a> 
      </td>
      <td><a href="{{url_for('static', filename='4-2.jpg') }}" data-lightbox="group"><img src="{{ url_for('static', filename='4-2.jpg') }}" alt="" class="img"></a> 
      </td>
      <td><a href="{{url_for('static', filename='5-1.jpg') }}" data-lightbox="group"><img src="{{ url_for('static', filename='5-1.jpg') }}" alt="" class="img"></a> 
      </td>
    </div>
    </tr>
    <tr>
      <td>1.ポーズの図鑑の説明あああああああああああああ</td>
      <td>いいいいいいいいいいいいいいいい</td>
      <td>ううううううううううううううううううううう</td>
    </tr>
  </table>
</body>
</html>
