<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8" />
  <title>ポーズ図鑑</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='dictionary.css') }}">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript">
  </script>
  </head>
<body>
  <input type="button" value="戻る" onclick="location.href='/'">
  <h1>ポーズ図鑑</h1>
    <table>
    <tr>
      <td><a href="{{url_for('static', filename='yoga02.jpg') }}" data-lightbox="group"><img src="{{ url_for('static', filename='yoga02.jpg') }}" alt="" class="img" ></a>
      </td>
      <td><a href="{{url_for('static', filename='yoga05.jpg') }}" data-lightbox="group"><img src="{{ url_for('static', filename='yoga05.jpg') }}" alt="" class="img"></a> 
      </td>
      <td><a href="{{url_for('static', filename='yoga06.jpg') }}" data-lightbox="group"><img src="{{ url_for('static', filename='yoga06.jpg') }}" alt="" class="img"></a> 
      </td>
      </td>
    </tr>
    <tr>
      <td><b>1.肩たちのポーズ</b><br>
        神経を鎮め、頭痛、いらだち、短気、神経衰弱、不眠症の改善に役立つ
      </td>
      <td><b>2.ハトのポーズ<br>(上級者向け)</b><br>
        肩こりの緩和などにも効果
      </td>      
      <td><b>3.安楽座</b><br>
        姿勢を正す効果や集中力を高める効果
      </td>   
     </tr>
  </table>
  <table>
    <tr>
      <td><a href="{{url_for('static', filename='yoga07.jpg') }}" data-lightbox="group"><img src="{{ url_for('static', filename='yoga07.jpg') }}" alt="" class="img"></a> 
      </td>
      <td><a href="{{url_for('static', filename='yoga08.jpg') }}" data-lightbox="group"><img src="{{ url_for('static', filename='yoga08.jpg') }}" alt="" class="img"></a> 
      </td>
      <td><a href="{{url_for('static', filename='yoga09.jpg') }}" data-lightbox="group"><img src="{{ url_for('static', filename='yoga09.jpg') }}" alt="" class="img"></a> 
      </td>
    </tr>
    <tr>
      <td><b>4.ハトのポーズ</b><br>
        肩こりの緩和などにも効果
      </td>
      <td><b>5.ダウンドッグのポーズ</b><br>
        体の血液循環を良くし、集中力を高める効果
      </td>
      <td><b>6.門のポーズ</b><br>
        腰回りをすっきりさせ、背骨のリラックス効果
      </td> 
    </tr>
  </table>
</body>
</html>
