<!DOCTYPE html>
<html lang = "ja">
<head>
    <meta charset="utf-8">
    <title>home</title>
    <link rel="stylesheet" type="text/css" href="Home.css">
</head>
<body>
    <div class="center">
        <h1>ヨガゲーム</h1>
        <p>楽しく体を動かそう</p>
        <h2>
            <div class="button">
            <button>
                <a href="https://www.google.co.jp/">
                    スタート
                </a>
            </button>
            </div>
        </h2>
        <h3>
            <div class="button">
            <button>
                <a href="https://www.yahoo.co.jp/">
                    ヨガ図鑑
                </a>
            </button>
            </div>
        </h3>
        <h4>
            <div class="button">
            <button>
                <a href="https://lcam.aitech.ac.jp/">
                    ランキング
                </a>
            </button>
            </div>
        </h4>
    </div>
</body>
</html>