<!DOCTYPE html>
<html lang = "ja">
<head>
    <meta charset="utf-8">
    <title>home</title>
    <link rel="stylesheet" media="all" href="../static/home.css" type="text/css" />
</head>
<body>
    <div class="center">
        <h1>ヨガゲーム</h1>
        <p>楽しく体を動かそう</p>
        <h2>
            <div class="button">
            <button>
                <a href="select.html">
                    スタート
                </a>
            </button>
            </div>
        </h2>
        <h3>
            <div class="button">
            <button>
                <a href="dictionary.html">
                    ヨガ図鑑
                </a>
            </button>
            </div>
        </h3>
        <h4>
            <div class="button">
            <button>
                <a href="ranking.html">
                    ランキング
                </a>
            </button>
            </div>
        </h4>
    </div>
</body>
</html>