<!--カウント画面-->
<!DOCTYPE html>
<html lang = "ja">
<head>
    <meta charset="utf-8">
    <title>practice</title>
    <link rel="stylesheet" type="text/css" href="../static/count.css">
</head>
<body>
    
    <h1 id="title">カウントダウン</h1> 
    <h2>撮影開始ボタンを押すと、○秒後に撮影されます</h2>
    <ol>
        <button id="button">撮影開始</button>
    </ol>
    <!--
    <div class="counter">
        <div id="timer">3</div>
        </div>
    <a href="" id="start" class="inactive">スタート</a>
    </div>
    <script src="count.js"></script>
    -->
</body>
</html>