<!--ポーズ選択画面-->
<!DOCTYPE html>
<html lang = "ja">
<head>
    <meta charset="utf-8">
    <title>practice</title>
    <link rel="stylesheet" type="text/css" href="../static/practice.css">
</head>
<body>

  <ol>
    <button><a href="/select">戻る</a></button>
  </ol>  
    <!--タイトル-->
    <h1 id="練習モード">練習モード</h1>
    
    <h2 id="ポーズを選ぼう">ポーズを選ぼう</h2>

    <!--ここに、ヨガ図鑑のコピペして説明文を省いた状態のものをおく-->
    <!--画像クリックしても飛べるようにしたいけど、-->
    <table>
        <tr>
          <td><img src="../static/test1.jpg" alt="cat" title="cat1" id="photo" width="200" height="150"></td>
          <td><img src="../static/test2.jpg" alt="cat" title="cat2" id="photo" width="200" height="150"></td>
          <td><img src="../static/test3.jpg" alt="cat" title="cat3" id="photo" width="200" height="150"></td></tr>
          <tr><td><img src="../static/test4.jpg" alt="cat" title="cat4" id="photo" width="200" height="150"></td>
          <td><img src="../static/test5.jpg" alt="cat" title="cat5" id="photo" width="200" height="150"></td>
          <td><img src="../static/test6.jpg" alt="cat" title="cat6" id="photo" width="200" height="150"></td>
          </tr>
        <tr>
            <!--ここに、選択ボタン？つける-->
            <td><button>a</button></td>
            <td><button>a</button></td>
            <td><button>a</button></td>
            <tr><td><button>a</button></td>
            <td><button>a</button></td>
            <td><button>a</button></td>
          </tr>
        </tr>
      </table>

      <ol>
        <button><a href="/prac-count">挑戦!</a></button>
      </ol>  
      
    </body>
</html>