<!--ランダムに選ばれた写真の１枚目-->
<!--1枚目確認画面-->

<!DOCTYPE html>
<html lang = "ja">
<head>
    <meta charset="utf-8">
    <title>ran-confirm1</title>
    <link rel="stylesheet" type="text/css" href="../static/confirm.css">
</head>
<body>
<!--タイトル-->
<h1>1枚目　OK？</h1>

<!--やり直しボタンを押したらran-count1.htmlへ戻る-->
<ol>
    <button id="button"><a href="../templates/ran-count1.html">やり直し</a></button>
 
<!-- クリックしたらran-count2.htmlへ飛ぶように-->
    <button id="button"><a href="../templates/ran-count2.html">OK</a></button>
</ol> 
</body>
</html>