<!--ランダムに選ばれた写真の2枚目-->
<!--2枚目確認画面-->

<!DOCTYPE html>
<html lang = "ja">
<head>
    <meta charset="utf-8">
    <title>ran-confirm2</title>
    <link rel="stylesheet" type="text/css" href="../static/confirm.css">
</head>
<body>
<!--タイトル-->
<h1>2枚目　OK?</h1>
<!--やり直しボタンを押したらran-count2.htmlへ戻る-->
<button id="button" type="submit" formaction="../templates/ran-count2.html">やり直し</button>

 <!--クリックしたらran-count3.htmlへ飛ぶように-->
 <button id ="button" type="submit" formaction="../templates/ran-count3.html">OK</button>

</body>
</html>