<!--3つのポーズの表示画面-->
<!DOCTYPE html>
<html lang = "ja">

<head>
    <meta charset="utf-8">
    <title>random</title>
    <link rel="stylesheet" type="text/css" href="../static/random.css">
</head>
<body>
    <!--ホームに戻るボタン-->
    <ol>
        <button><a href="/select">戻る</a></button>
    </ol>  
    
    <!--タイトル-->
    <h1 id="ランダムモード">ランダムモード</h1>
    <!--ランダムに写真を3つ表示させるプログラムを書く-->
    <!--重複無くランダムに3つ表示させるため写真を３区分に分けて書いた-->
    <form
      action="{{ url_for('ResultP') }}"
      method="post"
      enctype="multipart/form-data"
    >
      <p class="name_input">
        <label for="your_name"> 名前</label>
        <input type="text" id="your_name" name="name" />
      </p>
      <table>
        <tr>
          <td>
            <p class="photo">
            <label for="image_a">
            <script type="text/javascript">
                var imglist = new Array(
                   "../static/yoga02.jpg",
                   "../static/yoga05.jpg"
                   );
                var selectnum = Math.floor(Math.random() * imglist.length);
                var output = "<img src=" + imglist[selectnum] + ">";
                document.write(output);
             </script>
             </label>
            </p>
          </td>
            <td>
            <label for="image_b">
            <script type="text/javascript">
                var imglist = new Array(
                   "../static/yoga06.jpg", 
                   "../static/yoga07.jpg"
                   );
                var selectnum = Math.floor(Math.random() * imglist.length);
                var output = "<img src=" + imglist[selectnum] + ">";
                document.write(output);
             </script>
             </label>
             <td >
                <label for="image_c">
                <script type="text/javascript">
                    var imglist = new Array(
                       "../static/yoga08.jpg", 
                       "../static/yoga09.jpg" 
                       );
                    var selectnum = Math.floor(Math.random() * imglist.length);
                    var output = "<img src=" + imglist[selectnum] + ">";
                    document.write(output);
                 </script>
                 </label>
              </td>
          </td>
        </tr>
      </table>
      <ol>
        <dl>
          <dt>アップロードする画像を選択してください:</dt>
          <dd><input type="file" id="img_file" name="img_file" /></dd>
          <dd><input type="submit" value="挑戦!" /></dd>
        </dl>
      </ol>
    </form>
</body>
</html>