<!DOCTYPE html>
<html lang = "ja">
<head>
    <meta charset="utf-8">
    <title>select</title>
    <link rel="stylesheet" media="all" href="../static/select.css" type="text/css" />
</head>
<body>
    <button>
        <a href="home.html">
            戻る
        </a>
    </button>
    <div class="center">
        <label>名前
            <br>
            <input type="text" name="username">
        </label>
        <input type="submit" value="決定">
        <p>好きなモードを選ぼう</p>
        <div class="button">
        <button>
            <a href="practice.html">
                練習モード
            </a>
        </button>
        </div>
        <p>頑張る</p>
        <div class="button">
        <button>
            <a href="random.html">
                ランダムモード
            </a>
        </button>
        </div>
        <p>気合いで</p>
    </div>
</body>
</html>